/* reset from Kevin Powell edit if you like */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty; /*<-- ????? wtf did i accidentally change this? this does not seam valid check later... what this is supposed to be...*/
  max-width: 55ch;
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Theme */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {

  --WrapperClamp: max(20rem, 50vw);
  --WrapperClamp2: max(20rem, 65vw);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);

  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --fs-10: 0.1rem;
  --fs-25: 0.2rem;
  --fs-50: 0.3125rem;
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);
  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

}

svg {
  min-height: calc(var(--fs-500) * 2);
  max-width: calc(var(--fs-500) * 2);
  max-height: calc(var(--fs-500) * 2);
  flex-shrink: 0;
}


body {
  font-family: val(--font-base);
  
}

.GreenLogo {
  margin: var(--fs-500);
  --color: var(--clr-green-400);
}

.WhiteLogo {
  margin: var(--fs-500);
  --color: var(--clr-neutral-100);
}



/* Utilities */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Composition */
.flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}

/* Global/base */
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    color: var(--clr-primary-light-1);
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);

}

body>header {
  background-color: var(--clr-neutral-100);
  .wrapper {
  a:hover,
  a:focus-visible {
    color: var(--clr-green-400);
    text-decoration: underline;
  }


  width: var(--WrapperClamp2);


  display: flex block;
  font-weight: var(--fw-500);
  font-size: var(--fs-500);
  color: var(--clr-green-400);
  align-items: center;
  margin-inline:auto;

  a[href="#home"] {
    display: flex;
    align-items: center;
  }

  h1 {
    span {
      display: block;
      font-weight: var(--fw-x-bold);
    }
  }

  nav {
    display: contents;

    ul {
      display: contents;
      list-style: none;

      li {
        padding: var(--fs-400);
        display: block;
        margin-inline: auto;

      }

      li:first-child {
        margin-left: 25%;
      }

      li:last-child {
        margin-right: 25%;
      }
    }

    .hamburgerMenu {
      display: none;
      margin: var(--fs-500);
      margin-left: auto;
      background-color: transparent;
      border: 0;
    }
  }
}
}

#appreachiationSection {
  text-align: center;

  h2 {
    margin-top: var(--fs-900);
    padding-bottom: var(--fs-400);
  }

  p {
    margin-inline: auto;
    padding-bottom: var(--fs-400);
  }
}


section>section.gallery {
  width: var(--WrapperClamp2);
  padding: var(--fs-400);
  margin-inline: auto;
  margin-bottom: var(--fs-900);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template: 
  "pic_one pic_one pic_two pic_three pic_four pic_four" 
  "pic_one pic_one pic_five pic_five pic_six pic_six";

  background-color: white;

  img {
    height: 100%;
    width: 100%;
    background-image: url(/Assets/images/icon-seedling-2.svg);
    background-repeat: no-repeat;
    background-position: center;
  }



  img:nth-child(1) {
    grid-area: pic_one
  }

  img:nth-child(2) {
    grid-area: pic_two
  }

  img:nth-child(3) {
    grid-area: pic_three
  }
  img:nth-child(4) {
    grid-area: pic_four
  }

  img:nth-child(5) {
    grid-area: pic_five
  }

  img:nth-child(6) {
    grid-area: pic_six
  }
}


.specialHide {
  height: 0.1px !important;
  width: 0.1px !important;
  overflow: hidden !important;
  display: block !important;
}


button,
a.button {
  flex-basis: fit-content;
  border-radius: var(--fs-400);
  padding: var(--fs-50);
  margin: var(--fs-50);
  border: dashed var(--fs-25) transparent;
  background-color: var(--clr-green-400);
  color: white;
}

a:focus-visible,
a:focus {
  outline: none !important;
  flex-basis: fit-content !important;
  padding: var(--fs-50);
  margin: var(--fs-50);
  border: dashed var(--fs-25) var(--clr-green-400) !important;
  color: var(--clr-green-400) !important;
}

.Green a:focus-visible,
.dark a:focus {
  outline: none !important;
  flex-basis: fit-content !important;
  padding: var(--fs-50);
  margin: var(--fs-50);
  border: dashed var(--fs-25) var(--clr-neutral-100) !important;
  color: var(--clr-neutral-100) !important;
}


button:focus-visible,
button:focus,
a.button:focus-visible,
a.button:focus {
  outline: none !important;
}

a.button:focus-visible,
a.button:focus,
button:focus-visible,
button:focus {
  flex-basis: fit-content !important;
  padding: var(--fs-50);
  margin: var(--fs-50);
  border: dashed var(--fs-25) var(--clr-green-400) !important;
  background-color: var(--clr-neutral-100) !important;
  color: var(--clr-green-400) !important
}

section#emailFormSeciton {
  background-color: var(--clr-neutral-100);
  padding: var(--fs-400);

  div.wrapper {
    display: grid;
    justify-content: space-around;
    align-items: center;
    margin-inline: auto;
    width: var(--WrapperClamp);
  }

  h2 {

    grid-area: 1 / 1 / span 1 / span 1;
    padding: var(--fs-400);

  }

  img {
    grid-area: 1 / 2 / span 2 / span 1;
    background-color: var(--clr-green-400);
    border-radius: 50%;
    padding: var(--fs-600);
    min-width: 14rem;
  }

  form {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    border: solid var(--fs-25) var(--clr-neutral-300);
    border-radius: var(--fs-700);
    height: fit-content;

    input {

      flex-grow: 1;
      padding-left: var(--fs-400);
      border: 0;
      background-color: transparent;
      outline: none;

    }

    button {
      flex-basis: fit-content;
      border-radius: var(--fs-400);
      padding: var(--fs-50);
      margin: var(--fs-50);
      border: dashed var(--fs-25) transparent;
      background-color: var(--clr-green-400);
      color: white;
    }
  }

  form input:focus-visible,
  form input:focus {
    outline: none;
  }

  form:has(input:focus-visible),
  form:has(input:focus) {
    border: dashed var(--fs-25) var(--clr-green-400);


  }
}

#plantsSection {
  width: var(--WrapperClamp2);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;



  padding: var(--fs-400);
  gap: var(--fs-400);

 
  article {
    background-color: var(--clr-neutral-100);
    padding: var(--fs-400);
    border: solid var(--fs-25) var(--clr-neutral-200);
    border-top: 0;
    border-radius: var(--fs-25);
    display: grid;
    grid-template-rows: 0.5fr  max-content max-content auto auto;


    header picture { 
      aspect-ratio: 1/1.2;
      width: 100%;
      height: 100%;
      position: relative;

      img {
        display: block;
        aspect-ratio: 1/1.2;
        width: 100%;
        height: 100%;
      }

      div {
        position: absolute;
        background-image: url("/Assets/images/icon-seedling.svg");
        background-size: auto;
        background-repeat: no-repeat;
        opacity: 0.5;
        background-position: center;
        background-size: 70%;
        background-blend-mode: hard-light;
        display: block;
        aspect-ratio: 1/1.2;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }
    }

    h3 {
      padding-block: var(--fs-400);
    }

    footer {
      display: flex;
      gap:1rem;
      img {
        width: var(--fs-900);    
      }
      p {
        margin-block: auto;
        font-size: var(--fs-200);
      }
      .name {
        font-weight: var(--fw-800);
        align-content: end;
        padding-block: var(--fs-25);
      
  
      } 
    }


    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      padding-top: var(--fs-400);

      li {
        color: var(--clr-neutral-100);
        padding: var(--fs-100);
        padding-inline: var(--fs-400);
        margin: var(--fs-25);
        width: fit-content;
        border-radius: var(--fs-400);
        font-weight: var(--fw-700);
      }

      li[data-tag="FastGrowing"] {
        background-color: var(--clr-fast);
      }


      li[data-tag="Flowers"] {
        background-color: var(--clr-flower);
      }

      li[data-tag="Edible"] {
        background-color: var(--clr-edible);
      }

      li[data-tag="Vegetables"] {
        background-color: var(--clr-green);
      }

      li[data-tag="SunLoving"] {
        background-color: var(--clr-sunloving);
      }

      li[data-tag="EasyToPlant"] {
        background-color: var(--clr-easy);
      }

      li[data-tag="Decorative"] {
        background-color: var(--clr-decorative);
      }

      li[data-tag="Colorfull"] {
        background-color: var(--clr-colorful);
      }

      li[data-tag="Tough"] {
        background-color: var(--clr-robust);
      }

      li[data-tag="Spices"] {
        background-color: var(--clr-air);
      }

      li[data-tag="Humidifying"] {
        background-color: var(--clr-air);
      }

      li[data-tag="Fragrant"] {
        background-color: var(--clr-fragrant);
      }
    }
  }

}


section#planingSection {

  background-color: var(--clr-neutral-100);
  padding: var(--fs-400);

  div.wrapper {
    display: grid;
    margin-inline: auto;
    width: var(--WrapperClamp);
    gap: 0;
  }

  h2 {

    grid-area: 1 / 2 / span 1 / span 2;
    padding-inline: var(--fs-400);

    align-content: end;
  }

  p {

    justify-items: start;
    grid-area: 2 / 2 / span 1 / span 2;
    padding-inline: var(--fs-400);

  }

  a.button {

    justify-items: start;
    grid-area: 3 / 3 / span 1 / span 1;
    padding-inline: var(--fs-400);
    text-align: center;
    height: fit-content;
  }

  img {
    grid-area: 1 / 1 / span 3 / span 1;
    background-color: var(--clr-green-400);
    border-radius: 50%;
    padding: var(--fs-600);
    width: 12rem;
    aspect-ratio: 1;
  }
}

footer#PageFooter {
  background-color: var(--clr-green-400) !important;
  color: var(--clr-neutral-100);
  padding-block: var(--fs-700);
  margin-top: 4rem;
  div.wrapper {

    display: grid;
    grid-template-columns: 6rem 13rem 1fr;
    width: var(--WrapperClamp2);
    margin-inline: auto;

    svg {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    h2 {
      grid-column: 2;
      grid-row-start: 1;
      font-size: var(--fs-500);
      align-content: center;
     
    }

    p {
      grid-column-start: 1;
      grid-row-start: 2;
      grid-column-end: 3;
      grid-row-end: 4;
      padding: var(--fs-700);

      a.phone::before {
        content: " ";
        display: inline-block;
        width: var(--fs-400);
        height: var(--fs-400);
        margin-right: var(--fs-400);
        background-image: url(/Assets/images/icon-phone.svg);
      }

      a.email::before {
        content: " ";
        display: inline-block;
        width: var(--fs-400);
        height: var(--fs-400);
        margin-right: var(--fs-400);
        background-image: url(/Assets/images/icon-email.svg);
      }
    }

    nav {

      grid-column-start: 4;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 4;

      ul {
        flex-direction: column;
        li {
          list-style: none;
          line-height: var(--fs-800);
        }

      }
    }

    a {
      color: var(--clr-neutral-100);
    }

  }

}


@media (width < 1300px) {
  #plantsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

 

}


@media (width < 960px) {
 

  #plantsSection {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  section>section.gallery {
    grid-template-rows:  1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template: 
    "pic_one pic_two pic_three " 
    "pic_four pic_five pic_six";    
  }


  body>header nav button.hamburgerMenu {
    display: block !important;

  }

  body>header>.wrapper>nav>ul>li {
    display: none;
  }


  section#emailFormSeciton {
    div.wrapper {

      h2 {
        grid-area: auto;
        text-align: center;
      }

      img {
        margin-inline: auto;
        grid-area: auto;
      }

      form {
        grid-area: auto
      }
    }
  }

  footer#PageFooter>div.wrapper {
    grid-template-columns: 6rem;

    nav {
      display: none;
    }
  }



  section#planingSection {

   
    div.wrapper {
      grid-template-columns: auto;
      width: 100%;
    }
  
    img {
      grid-area: 1;
      justify-self: center;
    }

    h2 {  
      grid-area: 2;
      text-align: center;
    }
  
    p {
      grid-area: 3;  
      text-align: center;
    }
  
    a.button {  
      grid-area: 4;
      display: inline-block;
      justify-self:end;
    }
  

  }
}

@media (width < 700px) {

#emailFormSeciton form {
  width: 80%;
  margin-inline: auto;
}
  section>section.gallery {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template: 
    "pic_one pic_two" 
    "pic_three pic_four" 
    "pic_five pic_six";    
  }


  #plantsSection {
    display: grid;
    grid-template-columns: 1fr;
  }  

  :root {

    --WrapperClamp:  100vw;
    --WrapperClamp2: 90vw;
  }
}